* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.25s all ease;
    font-family:Calibri, 'Trebuchet MS', sans-serif;
}

.p_container {
  position:static;
  display:block;
  width: 100%;
  overflow-x:auto;
  font-size: 1.5rem;
}

#sheetInfo {
  background-color: #eef9ff;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  z-index: -1;
}

#courseCode{
  font-size: 2.8rem;
  font-weight: bolder;
  color: #ff5e00;
  margin: 5px 0;
}

#courseName {
  font-size: 2.4rem;
  font-weight: 600;
  color: #02006f;
  margin: 5px 0;
}

#courseDate{
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  margin: 8px 0;
}


#attendance-table th, #attendance-table td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
    min-width: 90px; /* Set a fixed width for table cells */
    font-size: 20px;
}

#attendance-table th{
  border: 1px solid #ffffff;
}

#attendance-table th:first-child{
    min-width: 22rem;
    position: sticky;
    left: 0;
    color: rgb(255, 253, 238);
    z-index: 1;
}

#attendance-table td:first-child {
    font-weight: bold;
    min-width: 22rem;
    position: sticky;
    left: 0;
    background-color: #afe7ffd6;
    color: rgb(0, 0, 0);
    z-index: 1;
    transition: background-color 0.3s ease-in-out;
}

#attendance-table tr:hover td:first-child {
  background-color: rgb(116, 209, 255);
}


#attendance-table th:last-child{
    min-width: 15rem;
    color: white;
    font-size: 20px;
    z-index: 1;
}

#attendance-table td:last-child {
    font-weight: bold;
    min-width: 15rem;
    font-size: 20px;
    z-index: 1;
}

#attendance-table th:nth-child(2) {
    min-width: 38rem;
    left: 0;
    color: white;
    font-size: 2rem;
    z-index: 1;
}

#attendance-table td:nth-child(2) {
    font-weight:400;
    min-width: 24rem;
    left: 0;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    z-index: 1;
}


#attendance-table th {
    background-color: #000b53;
    color: white;
}

#attendance-table tr:nth-child(odd) {
    background-color: #f6fcff;
}

#attendance-table tr:hover {
    background-color: rgba(147, 172, 255, 0.359);
}

button {
    min-width: 5.8rem;
    padding: 7px 10px;
    border: #000000 solid 2px;
    cursor: pointer;
  }
  

div.P {
  background-color: rgba(0, 255, 0, 0.916);
  color: rgb(0, 0, 0);
  font-size: 20px;
  border-radius: 1rem;
  font-weight: bold;
  height: 30px;
  width: 30px;
  min-width: 4.3rem;
  min-height: 4.3rem;
  text-align: center;
  padding-top: 6px;
  margin: auto;
}

div.A {
  background-color: rgba(255, 0, 0, 0.748);
  color: white;
  font-size: 20px;
  border-radius: 1rem;
  font-weight: bold;
  height: 30px;
  width: 30px;
  min-width: 4.3rem;
  min-height: 4.3rem;
  text-align: center;
  padding-top: 6px;
  margin: auto;
}



button:hover {
    filter: brightness(1.2);
}


/* Define the main content area and set its properties */
.main {
  flex-grow: 1;
  padding: 0.5rem 0rem;
}

#logout_btn {
  background-color: #ffffffe4;
  border: #000000;
  color: #000000;
  padding: 1rem 7rem;
  text-decoration: double;
  margin: 33rem 0rem 1rem 0rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bolder;
}

#logout_btn:hover {
    font-size: larger;
    color: #d7ae35;

}

html {
  font-size: 10px;
  min-width: 65rem;
}

:root {
  --primary-color: #1d1d1d;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.main {
  margin-top: 7.3rem;
}
.main button {
  font-size: 15px;
}

.nav {
  padding-top: 1.2rem;
  width: 100%;
  height: 7.2rem;
  position: fixed;
  line-height: 5rem;
  background-color: #0c18c3e7;
  justify-content: center;
  z-index: 2;
}
.circular--square { 
  border-top-left-radius: 50% ; 
  border-top-right-radius: 50%; 
  border-bottom-right-radius: 50%; 
  border-bottom-left-radius:50%;
  margin-left: 3%;}

.logout-container a {
  position: relative;
  text-decoration: none;
  margin-inline-end: 10rem;
}

.logout-container img {
  border-radius: 55%;
  width: 40px; /* Adjust the width and height as needed */
  height: 40px;
  vertical-align: middle;
}

#sheetSubmitBtn {
  min-width: 20rem;
  margin-top: 4rem;
  margin-bottom: 6rem;
  background-color: #000144;
  border: #000000;
  color: #ffffff;
  padding: 1.2rem 7.5rem;
  text-decoration: double;
  border-radius: 2.5rem;
  cursor: pointer;
  font-size:large;
  font-weight: bold;
  box-shadow: #a1a1a1 0.2rem 0.1rem 1rem;
}

#sheetSubmitBtn:hover {
  border-width: .1rem;
  background-color: #04ea00ac;
  color: #000000;
  transform: scale(1.02);
}

@media (max-width: 560px) {
  .nav-text {
    font-size: 26px;
  }
}

#output {
    max-width: 45rem;
    background-color: #ffe92878;
    padding: 10px;
    border-radius: 13px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 1.5rem;
    box-shadow: 3px 4px 1px rgb(202, 158, 255);
}

#connectButton {
    background-color: #6a00ff;
    color: #fff; /* Text color */
    padding: 11px 20px;
    border: 3px solid #000000;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#connectButton:hover {
    background-color: #ffffff;
    color: #000b53;
}


