@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
/* Add a background image to the container element */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.25s all ease;
}

html {
font-size: 10px;
font-family: "Josefin Sans", sans-serif;
min-width: 65rem;
}

:root {
--primary-color: #1d1d1d;
}

.p_container {
  position: relative;
  display: flex;
  height: 110vh;
  width: 100%;
  overflow: hidden;
  font-size: 1.5rem;
  background: linear-gradient(#ffffff, #e5e5e5);
  font-family: "Poppins", sans-serif;
}

/* Define the sidebar element and set its properties */
.sidebar {
  margin-top: 7.2rem;
  background-color: #000000;
  color: #fff;
  width: 32rem;
  padding: 2rem;
}

/* Remove default list styling from sidebar unordered list */
.sidebar ul {
  list-style: none;
}

.sidebar h2 {
  color: rgb(255, 253, 208);
  list-style: none;
  margin-bottom: 5rem;
  font-size: 2.2rem;
  text-align: center;
}

/* Set styling for each item in sidebar unordered list */
.sidebar li {
    text-align: center;
    padding: 0.5rem 0;
    cursor: pointer;
    margin-bottom: 1rem;
    font-size: 2.4rem;
}

/* Set styling for the active item in sidebar unordered list */
.sidebar li.active {
  font-weight: bold;
  color: #d78e35dd;
}

/* Define the main content area and set its properties */
.main {
  flex-grow: 1;
  padding: 4rem 2rem;
}

/* Hide all sections by default */
.section {
  display: none;
}

/* Show the active section */
.section.active {
  display: block;
}

/* Define styles for forms and form elements */
.form_ctrl {
  background: linear-gradient(#ffffff, rgba(252, 252, 252, 0.95));
  padding: 4rem 8rem;
  display: flex;
  flex-direction: column;
  max-width: 180rem;
  margin: auto;
  background-color: #ffffff45;
  border-radius: 2rem;
  box-shadow: 0.2rem 0.1rem 1rem rgba(0, 0, 0, 0.2);
  width: 190rem;
  height: 80rem;
}

label {
  margin-top: 1rem;
}

.form-control {
  font-size: medium;
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 2.5rem;
  border: 1px solid #000000;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  width: 200px;
}

select {
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    border: 1px solid #000000;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  }

button:hover {
  color: #fff;
}


button {
  background-color: #ffb700;
  border: #000000;
  color: #000000;
  padding: 1rem 4.5rem;
  text-decoration: double;
  border-radius: 2.5rem;
  cursor: pointer;
  font-size:medium;
  font-weight: bold;
  box-shadow: #a1a1a1 0.2rem 0.1rem 1rem;
}

button:hover {
  background-color: #ff8c00;
}



.container,
.small-container,
.medium-container {
    width: 100%;
  max-width: 130rem;
  margin: auto;
  padding: 0 2rem;
}

.small-container {
  max-width: 100rem;
}

.medium-container {
  max-width: 120rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.main {
  margin-top: 7.3rem;
}
.main button {
  font-size: 15px;
}

#myChart{
  width: 80%;
  height: auto;

}

.nav {
  padding-top: 1.2rem;
  width: 100%;
  height: 7.2rem;
  position: fixed;
  line-height: 5rem;
  background-color: #0c18c3e7;
  justify-content: center;
  z-index: 1;
}
.circular--square { 
  border-top-left-radius: 50% ; 
  border-top-right-radius: 50%; 
  border-bottom-right-radius: 50%; 
  border-bottom-left-radius:50%;
  margin-left: 3%;}

  .logout-container a {
    position: relative;
    text-decoration: none;
    margin-inline-end: 10rem;
  }
  
  .logout-container img {
    border-radius: 55%;
    width: 40px; /* Adjust the width and height as needed */
    height: 40px;
    vertical-align: middle;
  }